

.body-left{
    left: 500px;
    font-family: AdobeHeitiStd-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #ffffff;
    padding-top: 69px;
    padding-left: 50px;
    text-align: center;
}
