<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-3.3.1.js"></script>
</head>
<link rel="stylesheet" href="../component/laydate/theme/default/laydate.css">
<body>

<input type='button' name='mybtn' id='mybtn' value="点击" onclick='myFunc()'/>

<script src="../component/laydate/laydate.js"></script>

<script type='text/javascript'>
    function myFunc(){
        var ev = window.event || arguments.callee.caller.arguments[0];
        var et = ev.srcElement || ev.target;
        console.log(window.event);
        console.log(arguments)
        alert(et.tagName);
    }
</script>

</body>
</html>