<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../static/component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/common/common.css">
    <link rel="stylesheet" href="../css/foot.css">
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>

    <div class="full-container" style="height: 250px;background-color: #0b1125;width: 100%;">
        <div class="container clearFix relative">
            <div class="float-left body-left">
                <p>Copyright © 2018  鹤壁科技大市场  All Rights Reserved  陕ICP备13006569
                    雁塔区鱼化工业园科技</p>
                <p style="margin-top: 20px">主办单位：鹤壁市科学技术局   鹤壁科技大市场</p>
                <p>技术支持：西安科技大市场创新云服务股份有限公司</p>
                <p>鹤壁科技大市场服务热线： 0392- 8321956</p>
            </div>
            <div class="absolute" style="width:1px;height: 100px;background-color: #35394a;margin-top: 74px;margin-left: 600px"></div>
            <div class="float-right" style="margin-right: 150px">
                <img style="width: 131px;height: 140px;margin-top: 56px;" src="../../../static/img/common/wx-jy.jpg">
                <img style="width: 131px;height: 140px;margin-left: 20px;margin-top: 56px;" src="../../../static/img/common/wx-xa.png">
            </div>
        </div>
    </div>

</body>
</html>