<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入我的首页</title>
    <link rel="stylesheet" href="../../../static/component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/common/common.css">
    <link rel="stylesheet" href="../css/head.css">
</head>
<body>
<div class="full-container head">
    <div class="container">
       您好，欢迎您访问鹤壁科技大市场!服务热线：029-8888888
    </div>
    <div class="container head-nav">
        <div class="login">
            <img src="../../../static/img/common/logo.png">
        </div>
        <div>
            <ul class="body-nav">
                <li class="navdown"><a href="homebody.html" target="home1">首页</a></li>
                <li><a href="homebody.html" target="home1">新闻资讯</a></li>
                <li><a  href="b.html" target="home1">技术交易</a></li>
                <li><a>设备共享</a></li>
                <li><a>科技政策</a></li>
                <li><a>知识产权</a></li>
                <li><a>创新创业</a></li>
                <li><a>科技金融</a></li>
                <li><a>科技资源</a></li>
                <li><a>平台介绍</a></li>
            </ul>
        </div>
    </div>
</div>






<script src="../../../static/js/jquery-3.3.1.js"></script>
<script src="../../../static/component/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/head.js"></script>
</body>
</html>