<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页内容模块</title>
    <link rel="stylesheet" href="../../../static/component/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../../../static/component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/common/common.css">
    <link rel="stylesheet" href="../css/homebody.css">

</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../../static/img/home/home1.png"/></div>
        <div class="swiper-slide"><img src="../../../static/img/home/home2.jpg"/></div>
        <div class="swiper-slide"><img src="../../../static/img/home/home1.png"/></div>
        <div class="swiper-slide"><img src="../../../static/img/home/home2.jpg"/></div>
        <div class="swiper-slide"><img src="../../../static/img/home/home1.png"/></div>
        <div class="swiper-slide"><img src="../../../static/img/home/home2.jpg"/></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="container">
    <div class="main-server">
        <div class="text-title">核心服务</div>
        <div class="text-ban"></div>
        <div class="server-content">
            <div class="server-body">
                <div class="server-img"><img src="../../../static/img/home/home-body1.jpg" height="100%" width="100%"/></div>
                <div class="server-text">
                    <div class="server-font">挂牌交易项目</div>
                    <div class="server-font-body">电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提</div>
                    <div class="server-font-foot">查看更多>></div>
                </div>
            </div>
            <div class="server-body">
                <div class="server-img"><img src="../../../static/img/home/home-body1.jpg" height="100%" width="100%"/></div>
                <div class="server-text">
                    <div class="server-font">挂牌交易项目</div>
                    <div class="server-font-body">电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提</div>
                    <div class="server-font-foot">查看更多>></div>
                </div>
            </div>
            <div class="server-body">
                <div class="server-img"><img src="../../../static/img/home/home-body1.jpg" height="100%" width="100%"/></div>
                <div class="server-text">
                    <div class="server-font">挂牌交易项目</div>
                    <div class="server-font-body">电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提</div>
                    <div class="server-font-foot">查看更多>></div>
                </div>
            </div>
            <div class="server-body">
                <div class="server-img"><img src="../../../static/img/home/home-body1.jpg" height="100%" width="100%"/></div>
                <div class="server-text">
                    <div class="server-font">挂牌交易项目</div>
                    <div class="server-font-body">电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提
                        电熔镁铝尖晶石的研发
                        利用有色金属灰渣生产宝珠砂的方法
                        利用固体废弃物生产烧结莫来石的方法
                        利用固体废弃物生产板状刚玉的方法
                        一种用于刚玉生产的固体废弃物提</div>
                    <div class="server-font-foot">查看更多>></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../../static/js/jquery-3.3.1.js"></script>
<script src="../../../static/component/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../../../static/component/swiper/js/swiper.min.js"></script>
<script language="JavaScript">
    $(function(){
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: {
                delay:1000
            },//可选选项，自动滑动
            loop: true,
            navigation:{
                nextEl:'.swiper-button-next',
                prevEl:'.swiper-button-prev',
            },
            pagination:{
                el:'.swiper-pagination',
                clickable:true
            }

        })
    })

</script>
</html>